*{
  margin: 1px;
}
body{
  margin: 0;
  padding: 0;
  background-color: red;
}
.padre {
  
  height: 98vh;
  width: 99.5vw;
  display:grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 15% auto 65% 10%;
}
.title{
  background-color: rgb(255, 255, 255);
  display: grid;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  align-content: center;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}
h3{
  font-size: 50px;
  text-decoration: underline;
}
.menu{  
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}
.componentes{
  display: grid;
  background-color: rgb(255, 255, 255);
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}
.titulo{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  grid-column: 2 / 3;
  border-left: solid black 2px;
}
.adds{  
  background-color: rgb(255, 255, 255);
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}
.footer{
  display: grid;
  justify-content: center;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(255, 255, 255);
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}
h1{
  display: grid;
  text-align: center;
  font-family:cursive;
  font-size: 40px;
  color: red;
  text-decoration: underline;
}